.gridСontainer {
    font-size: 16px;
    color: #3f51b5;
    font-weight: 600;
    padding: 20px;
    display: grid;
    grid-template-areas: "post-1 post-2"  
                         "post-1 post-3"  
                         "post-4 post-4"
                         "post-5 post-5"; 
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(2, 400px);
}
.post1 {
    grid-area: post-1;
    height: 150px !important;
    width: 150px !important;
    margin-left: 50px;
    margin-top: 30px;
}

.avatar{
    background-color: orange !important;
    font-size: 40px !important;
}

.post2 {           
    grid-area: post-2;
}

.post3 {
    grid-area: post-3;
}

.post4 {           
    grid-area: post-4;
}

.post5 {
    grid-area: post-5;
}

.post6 {           
    grid-area: post-6;
}

label{
    font-size: 14px !important;
    
}

.input{
    width: 250px;
}

.button{
    width: 250px;
    height: 35px;
    font-size: 16px !important;
}